<h2>Add Listing</h2>

  
      <form [formGroup]="renterForm" (ngSubmit)="onSubmit()" method="post" >
          <div class="form-group">
    <div>
        <label>Destination</label>
      <input type="text" formControlName="destination">
    </div>
    <div>
      <br>
      <label>Date-Start</label>
      
      <input type="text" formControlName="date_start" >
      <br>
      <br>
      <label>Date-end</label>
     
      <input type="text" formControlName="date_end" >
      
    </div>
    <br>
    <div><label>Number of guests</label>
      <input type="number" formControlName="guests">
    </div>
    <br>
    <div>
      <label>Number of Bedrooms</label>
      <input type="number" formControlName="bedrooms" >
    </div>
    <br>
    <div><label>Number of Beds</label>
      <input type="number" formControlName="beds" >
    </div>
    <br>
    <br>
    <div><label>Number of Washrooms</label>
      <input type="number" formControlName="washrooms">
    </div>
    <div>
      <br>
      
    </div>
    <br><div>
    <label>Price in Eth</label>
    <input type="text" formControlName = 'price'>
  </div>
    <!-- <radio-button *ngFor="let room of roomtype" [value] = room  >
  {{room}}
</radio-button> -->
    <br>
    <div>
      <thead>
        <td>RoomType</td>
      </thead>
      <tbody>

        <tr *ngFor="let rooms of roomtype ">
          <td>
            <input type="checkbox" (change)="changeCheckbox(rooms)"  formControlName="rooms" >
          </td>
          <td>{{ rooms.value }}</td>

        </tr>
      </tbody>
    </div>
    <br>
    <div>
      <thead>
        <td>Facilities</td>
      </thead>
      <tbody>

        <tr  *ngFor="let facility of facilities ">
          <td>
            <input type="checkbox" (change)="changeCheckbox(facility)"  formControlName="facility" >
          </td>
          <td>{{ facility.value }}</td>

        </tr>
      </tbody>

    </div>

    <br>
    <div>
      <thead>
        <td>Amentities</td>
      </thead>
      <tbody>

        <tr *ngFor="let aments of amentities ">
          <td>
            <input type="checkbox"  (change)="changeCheckbox(aments)" formControlName="aments">
          </td>
          <td>{{ aments.value }}</td>

        </tr>
      </tbody>

    </div>

    <br>
    <div>
      <thead>
        <td>Property type</td>
      </thead>
      <tbody>

        <tr *ngFor="let proper of property ">
          <td>
            <input type="checkbox"  (change)="changeCheckbox(proper)" formControlName="proper">
          </td>
          <td>{{ proper.value }}</td>

        </tr>
      </tbody>

    </div>

    <br>
    <div>
      <thead>
        <td>House Rules</td>
      </thead>
      <tbody>

        <tr *ngFor="let rule of rules ">
          <td>
            <input type="checkbox"  (change)="changeCheckbox(rule)" formControlName="rule">
          </td>
          <td>{{ rule.value }}</td>

        </tr>
      </tbody>

    </div>

    <br>
    <div>
      <thead>
        <td>Host language</td>
      </thead>
      <tbody>

        <tr *ngFor="let lang of language ">
          <td>
            <input type="checkbox"  (change)="changeCheckbox(lang)"  [value]="lang" formControlName="lang">
          </td>
          <td>{{ lang.value }}</td>

        </tr>
      </tbody>

    </div>

    <br>
    <button type="submit" >submit</button>
    <!-- <button type="submit" [disabled]="!renterForm.valid" >submit</button> -->
  </div>
  </form>
  
